<nav>
    <h1>Task Manager</i></h1>
    <ul>
        <li><a class="btn btn-outline-warning" href="/">Home</a></li>
        <li><a class="btn btn-outline-info" href="/signin">Sign In</a></li>
        <li><a class="btn btn-outline-info" href="/signup">Sign Up</a></li>
    </ul>
</nav>