<%- include("partials/header")%> <%- include("partials/nav")%>
<div class="container">
  <div class="box1">
    <h1>Manage Your Task</h1>
    <hr />
    <h6>welcome in task manager</h6>
    <span>
      <a href="/signin"><button class="btn btn-primary btn-lg">Sign In</button></a>
      <a href="/signup"><button class="btn btn-primary btn-lg">Sign up</button></a>
    </span>
  </div>
</div>
<%- include("partials/footer")%>
