<%- include("partials/header")%>
<%- include("partials/nav")%>
<form action="/signin" method="post">
    <h1>Sign-In</h1>
    <input class="form-control m-1" type="text" placeholder= " Username" name="username">
    <input class="form-control m-1" type="password" placeholder="  ******" name="password">
    <p>Don't have an account? <button class="btn btn-primary btn-sm" ><a href="/signup">Sign Up</a></button></p>
    <button class="btn btn-success btn-lg" >Sign In</button>
</form>
<%- include("partials/footer")%>