<%- include("partials/header")%> <%- include("partials/nav")%>
<form action="/signup" method="post">
  <h1>Sign-Up</h1>
  <input
    class="form-control m-1"
    type="text"
    placeholder="  Enter your name"
    name="username"
  />
  <input
    class="form-control m-1"
    type="password"
    placeholder="  Enter Password"
    name="password"
  />
  <h4>Enter Your task & discription</h4>
  <input
    class="form-control m-1"
    type="text"
    placeholder="Enter Task Title"
    name="title"
  />
  <input
    class="form-control m-1"
    type="text"
    placeholder="Enter Task discription"
    name="description"
  />
  <h6>
    Already have an account?
    <a href="/signin"><button class="btn btn-info btn-sm">Sign In</button></a>
  </h6>
  <button class="btn btn-success btn-lg">Sign Up</button>
</form>
<%- include("partials/footer")%>
